<div class="navigation-tree">
    <ul>
        <ng-template #levelList let-id>
            <li *ngFor="let item of (navItems | async) | filterByParentId: id;">
                <div class="navigation-tree_element" (click)="onToggle(item)"
                    [ngClass]="{'not-allowed':item.permission != activeUserRole}">
                    <span class="material-icons" [ngClass]="openNodes.has(item.id) ? 'expanded' : 'collapsed'">
                        expand_more
                    </span>
                    <span class="material-icons">
                        {{ item.entityType | entityToIcon }}
                    </span>
                    <p><b>{{ item.title }}</b></p>
                </div>
                <ng-container *ngIf="openNodes.has(item.id)">
                    <ul>
                        <ng-container *ngTemplateOutlet="levelList; context: { $implicit: item.id }"></ng-container>
                    </ul>
                </ng-container>
            </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="levelList; context: { $implicit: 0 }">
        </ng-container>
    </ul>
</div>
<app-spinner *ngIf="loading"></app-spinner>